/* BASIC SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

html {
  background-color: #487eb0;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/background.jpg); */
  background-size: cover;
  background-position: center;
  color: #262626;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

.container {
  padding: 0;
}

.home-container {
  padding: 100px;
}

.about-container {
  padding: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #f5f6fa;
  color: white;
  text-align: center;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.container {
  display: center;
}
 section {
   padding: 100px;
 }

.navbar {
  float: center;
  width: 100%;
  height: 10%;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.navbar li {
  display: inline;
  font-size: 35px;
  padding-left: 45px;
  padding-right: 45px;

  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.nav-links {

}

.navbar ul li a:link,
.navbar ul li a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar ul li a:hover,
.navbar ul li a:active {
  border-bottom: 2px solid #f5f6fa;
}

.home-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 50px;
  margin-top: 75px;
  background-color: #f5f6fa;
  border-radius: 3px;
}

.home-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 50px;
  margin-top: 100px;
  background-color: #f5f6fa;
  border-radius: 3px;
}

.about-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.admin-cols {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 50px;
  margin-top: 100px;
  background-color: #f5f6fa;
  border-radius: 3px;
}

.admin-cols:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.admin-cols h3 {
  font-weight: 400;
  padding-bottom: 15px;
}

.signin-form input {
  float: middle;
}



